.container
  %br
  - @postings.each do |pg|
    = pg[0].capitalize
    %table.table.table-bordered
      %tbody
        - pg[1].each do |p|
          %tr
            %td
              = p.company_name
              = p.job_title